<%- include("../partials/header") %> <%- include("../partials/navbar-2") %>
<link rel="stylesheet" href="/css/dashboard.css" />
<link rel="stylesheet" href="/css/account.css" />
<div class="wrap">
    <div class="container mt-3">
        <div class="row">
            <nav class="col-md-3 col-lg-2 d-md-block sidebar background-left">
                <div class="sidebar-sticky">
                    <h2 class="background-title">My Account</h2>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link custom-button mb-3 mt-3" href="#profile">Profile</a>
                        </li>
                        <li class="nav-item ">
                          <a class="nav-link custom-button mb-3 mt-3" href="/orders/<%= currentUser._id %>"> Orders </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 col-lg-10 px-4">
            <%- include('../partials/flash') %>
            <h1>My Orders</h1>
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Order</th>
                        <th>Products</th>
                        <th>Date</th>
                        <th>Action/Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% iter = 1 %> <% if(orders && orders.length > 0){ %> <%
                    for(let order of orders){ %>
                    <tr>
                        <th><div><%= iter++ %></div></th>
                        <td>
                            <div class="cart-card">
                                <h5>
                                    <%=
                                    order.txnId.substring(order.txnId.length-6)
                                    %>
                                </h5>
                                <p class="amount">
                                    $ <%= order.amount %>
                                </p>
                            </div>
                        </td>
                        <td>
                            <ul class="list-group">
                                <% for(let item of order.products){ %>
                                <li class="list-group-item">
                                    <%= item.title %>
                                </li>
                                <% } %>
                            </ul>
                        </td>
 
                        <td id="createTime"><%= order.createdAt %></td>
                        <td><% if(order.delevered !== true) { %>
                                <a href="/adminfinishorder/<%= order._id %>" class="btn btn-primary"> Finish</a>
                            <% } else { %>
                                <span>Finished</span>
                            <% } %>
                        </td>
                    </tr>
                    <% } } %>
                </tbody>
            </table>
            </main>
        </div>
    </div>
</div>
<script>
    var dateString = document.getElementById('createTime').textContent;
    var date = new Date(dateString);
    var options = { month: 'short', day: '2-digit', year: 'numeric', hour: '2-digit', minute: '2-digit' };
    var formattedDate = date.toLocaleDateString('en-US', options).replace(',', '');
    document.getElementById('createTime').textContent = formattedDate;
    console.log(formattedDate);
</script>
<%- include("../partials/footer") %>