<%- include("../partials/header") %> <%- include("../partials/navbar-2") %>
    <link rel="stylesheet" href="/css/account.css" />
    
    <div class="container mt-3">
      <div class="row">
          <nav class="col-md-3 col-lg-2 d-md-block sidebar background-left">
              <div class="sidebar-sticky">
                  <h2 class="background-title">My Account</h2>
                  <ul class="nav flex-column">
                      <li class="nav-item">
                          <a class="nav-link custom-button mb-3 mt-3" href="#profile">Profile</a>
                      </li>
                      <li class="nav-item ">
                        <a class="nav-link custom-button mb-3 mt-3" href="/orders/<%= currentUser._id %>"> Orders </a>
                      </li>
                  </ul>
              </div>
          </nav>
          <main role="main" class="col-md-9 col-lg-10 px-4">
              <div class="form-container">
                  <h2>My Profile</h2>
                  <form action="/user/<%= currentUser._id %>?_method=patch" method="post" class="row g-3 needs-validation"
                    novalidate>
                    <div class="mb-3 col-6">
                      <label for="title" class="form-label">Full Name</label>
                      <input type="text" name="user[title]" placeholder="Full Name" class="form-control" id="title"
                        value="<%= user.title %>" required />
                    </div>
      
                    <div class="mb-3 col-12">
                      <label for="address" class="form-label">Address</label>
                      <input type="text" name="user[address]" placeholder="Address" class="form-control" id="address"
                        value="<%= user.Address %>" />
                    </div>

                    <button class="btn btn-main custom-button" type="submit" style="width: 30%">Submit</button>
                  </form>
              </div>
          </main>
      </div>
  </div>
    <%- include("../partials/footer") %>