<%- include("../partials/header") %> <%- include("../partials/navbar-2") %>
    <link rel="stylesheet" href="/css/cart.css" />
    <script src="/views/cart/cart-functions.js"></script>

    <div class="container">
      <div class="headcart">
        <a href="/user/<%= currentUser._id%>/cart">
          <h1>Shopping Cart</h1>
        </a>
        <div class="icons-cart">
          <i class="fa fa-shopping-cart"></i>
          <hr />
          <i class="fa fa-truck"></i>
        </div>
      </div>
      <hr />
      <div class="container row">
        <div class="col-9 ">
          <div class="row Check-summary">
            <div class="col-6 select-style">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="selectAll">
                <label class="form-check-label" for="selectAll">
                  Select all
                </label>
              </div>
            </div>
            <div class="col-6 remove-style">
              <form action="/user/<%= currentUser._id %>/cart?_method=DELETE" method="POST">

                <button type="submit" class="btn2 remove-style"><img src="/image/icon _Delete_.svg" class="deleteall"
                    alt="Remove-all">Remove all</button>

              </form>
            </div>
          </div>
          <div class="table-container">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th class="checkbox">#</th>
                  <th>Product</th>
                  <th class="quantity">Quantity</th>
                  <th class="price">Price</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <% total=0;iter=1 %>
                  <% if(cart && cart.length> 0){ %> <% for(let item of cart){ %>
                      <tr>
                        <th>
                          <div>
                            <%= iter++ %>
                          </div>
                        </th>
                        <td>
                          <div class="cart-card">
                            <img class="img-circle" src="<%= item.images[0] %>" height="100px" width="100px" />
                            <h5>
                              <%= item.title %>
                            </h5>
                          </div>
                        </td>
                        <td>1<%= item.quantity %>
                        </td>
                        <td class="price">$<%= item.price %>
                        </td>
                        <td>
                          <form action="/user/<%= currentUser._id %>/cart/<%= item._id %>?_method=DELETE" method="POST">
                            <button type="submit" class="btn">
                              <i class="fa fa-close"></i>
                            </button>
                          </form>
                        </td>
                      </tr>
                      <% total +=item.price; } } %>
              </tbody>
            </table>
          </div>
          <div class="checkout">
            <div>
              <a class="btn1" href="/products">
                <i class="fa fa-arrow-left" aria-hidden="true"></i>
                Continue Shopping
              </a>
            </div>
          </div>
        </div>

        <div class="col-3 summary-container">
          <div class="cart-summary">
            <h3>Order Summary</h3>
            <hr />

            <div class="row">
              <div class="col-6">
                <p>Subtotal (<%= cart.length %> Items)</p>
              </div>
              <div class="col-5 summary-value">
                <p>$<%= total %>
                </p>
              </div>
            </div>
            <input type="number" hidden value="<%= total %>" id="total">
            <!-- <input type="text" id="discountCode" placeholder="Enter voucher code" />
            <button id="applyButton" class="apply-button">Apply</button>
            <br />
            <br /> -->

            <div class="row">
              <div class="col-6">
                <p>Shipping</p>
              </div>
              <div class="col-5 summary-value">
                <p>Free</p>
              </div>
            </div>

            <hr />
            <div class="row">
              <div class="col-6 summary-checkout">
                <p>Total:</p>
              </div>
              <div class="col-5 summary-value-checkout">
                <p>$<%= total %>
                </p>
              </div>
            </div>
          </div>
          <div>
            <!-- <form action="<%= total && total > 0 ? '/payment_gateway/payumoney' : '#' %>" method="post">
              <button type="submit" class="btn1 btn-main <% if(!total || total <= 0){ %> disabled <% } %>">
                Place Order
              </button>
            </form> -->
            <style>
              #card-element{
                background-color: white;
                width: 100%;
                height: 50px;
                padding-top: 15px;
              }
              .stripe-title{
                font-size: 1.75rem;
                
              }
              .stripe-btn{
                margin-top: 15px;
                border-radius: 50px;
                background-color: #07b5ac;
                /* border-color: white; */
                color: white;
              }
            </style>
            <form action="/payment_gateway/stripe" method="post" id="payment-form">
              <div class="form-row">
                <label for="card-element mt-3 mb-3" class="stripe-title">
                  Credit or debit card
                </label>
                <div class="strip">
                  <div id="card-element">
                    <!-- A Stripe Element will be inserted here. -->
                  </div>
                </div>
                

                <!-- Used to display Element errors. -->
                <div id="card-errors" role="alert"></div>
              </div>

              <button class="stripe-btn btn1">Submit Payment</button>
            </form>

            <script src="https://js.stripe.com/v3/"></script>
            <script>
              const stripe = Stripe('pk_test_51PItrz2LidDOORGReS1xf1NImYLpVnsGnbKueCHdJmxMp2dAXlBo4J4bqsq3t7qOBSjI5ApcKk6mJoBsbiG8azZ100LzmuNH6B');

              const elements = stripe.elements();
              const cardElement = elements.create('card');

              cardElement.mount('#card-element');

              const form = document.getElementById('payment-form');
              form.addEventListener('submit', async (event) => {
                event.preventDefault();

                const { token, error } = await stripe.createToken(cardElement);

                if (error) {
                  const errorElement = document.getElementById('card-errors');
                  errorElement.textContent = error.message;
                } else {
                  const hiddenInput = document.createElement('input');
                  let total = document.getElementById('total').val;
                  
                  hiddenInput.setAttribute('type', 'hidden');
                  hiddenInput.setAttribute('name', 'token');
                  hiddenInput.setAttribute('value', token.id);
                  hiddenInput.setAttribute('amount', total);

                  form.appendChild(hiddenInput);
                  form.submit();
                }
              });
            </script>
          </div>
        </div>

      </div>
    </div>
    <%- include("../partials/footer") %>
      </div>